html, body{
    height: 100%;
    margin: 0px;
    background-image: url("images/room-lossy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.left{
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100%;
}
#clock{
    transform: rotate(10deg);
    font-family: "Aldrich", sans-serif;
    font-size: 30px;
    color: rgba(32,40,48,0.7);
    text-shadow: 1px 0 rgba(0,0,0,0.4);
}
.window{
    display: flex;
    flex-direction: column;
    width: 34%;
    margin-top: 37%;
}
.window-top{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 11%;
    margin-right: 10%;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    color: rgba(164,170,176,0.7);
    font-family: "Aldrich", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-shadow: 1px 0 rgba(0,0,0,0.4);
}
.content{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5% 5%;
}
.highlight{
    color: white;
}
.hide{
    display: none;
}
.window-bottom{
    display: flex;
    justify-content: center;
    height: 40%;
    margin-left: 11%;
    margin-right: 10%;
}
#icons{
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5% 10%;
}
.column > a{
    font-family: "Aldrich", sans-serif;
    color: rgba(0,0,0,0.7);
    font-size: 17px;
    letter-spacing: 1px;
    padding: 1px;
}
#weather{
}
#feed{
}
.right{
    position: relative;
    width: 33%;
    height: 100px;
    margin: 40px auto;
}
